{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <h2 class="text-center">Edit Comment</h2>
  {% if comment %}
  <a class="text-center" href="/blog/{{comment.post_id}}"><h2>Cancel</h2></a>
  {% endif %}
</div>  
{% if error %}
  <div class="error">{{error}}</div>
{% else %}
<div class="col-md-6">
    <form method="post">
      <label>
        <div>Comment</div>
        <textarea class="comment" name="content">{{comment.content}}</textarea>
      </label>
      <input type="submit">
    </form>
    </br>
    <form method="post">
      <input type="hidden" name="delete" value="true">
      <input type="submit" value="DELETE POST"></input>
    </form>
</div>    
<div class="col-md-12 divider"></div>
{% endif %}

{% endblock %}